body, html {
    font-family: "Lora", serif;
    background-color: #000;
    color: #fff;
}

p {
    font-size: 18px;
    color: white;
}

h1 {
    font-size: 32px;
    color: white;
}

.text-section {
    color: #e81d1d;
}

/* Topnav */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #000;
}

.logo {
    font-size: 30px;
    font-family: "Protest Guerrilla", sans-serif;
    color: #fff;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
    font-size: 18px;
}

.nav-links a:hover, .nav-links a.active {
    color: #e81d1d;
}




/* Home */
.home-section {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: url('Pictures/tech.gif') no-repeat center center fixed;
    background-size: cover;
}

.name-highlight {
    color: #e81d1d;
}



.section-divider {
    width: 80%;
    height: 2px;
    background-color: #e81d1d;
    align-items: center;
    margin: 1rem auto;
}

/* About section */
.about-section {
    width: 50%;
    margin: 10%;
}

.schoolpics {
    height: 175px;
    width: 300px;
}

.AT {
    height: 150px;
    width: 150px;
}

.education-item {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 50vh;
}

.detail-item {
    margin-top: 100px;
}

.about-me-details .detail-item {
    margin-bottom: 1.5rem;
}

.about-me-details .detail-item h3 {
    color: #e81d1d;
    margin-bottom: 0.5rem;
}

.language-item {
    margin-bottom: 0.5rem;
}

.language-name {
    color: #e81d1d;
    font-weight: bold;
}

.language-level {
    color: #fff;
}

.grid {
    width: min-content;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 300px;
    gap: 1rem;
  }
  
  .schoolcard {
    aspect-ratio: 1;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .schoolcard-img {
    position: absolute;
    z-index: 1;
    object-fit: cover;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    width:  100%;
    height: 100%;
  }
  
  .schoolcard:hover .schoolcard-img {
    scale: 0.85;
    filter: brightness(0.65);
  }
  
  .schoolcard-box {
    padding: 0.8rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    z-index: 2;
    opacity: 0;
    display: flex;
    flex-direction: column;
  }
  
  /* Positioning the Boxes inside the card */
  .box-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: flex-end;
  }
  .box-2 {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    align-items: flex-end;
  }
  .box-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    justify-content: flex-end;
  }
  .box-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  /* Offsetting the Boxes */
  .top-left {
    transform: translate(-105%, -105%);
  }
  .top-right {
    transform: translate(105%, -105%);
  }
  .bottom-right {
    transform: translate(105%, 105%);
  }
  .bottom-left {
    transform: translate(-105%, 105%);
  }
  
  .schoolcard:hover .schoolcard-box {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  /* Styling the Content inside box */
  .schoolcard-box > p {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.85;
  }


  
/* Skill section */
.skill-section {
    width: 80%;
    margin: 10%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.card {
    width: 275px;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    border: 2px solid whitesmoke;
    display: inline-block;
  }
  .card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  .card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
  }
  
  .card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
  }
  
  .card:hover img {
    filter: grayscale(1) brightness(0.15);
  }
  .card:hover::after {
    opacity: 1;
    inset: 20px;
  }
  
  .content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .content h2,
  .content p {
    opacity: 0;
    transition: 0.4s 0.2s ease;
  }
  .content h2 {
    margin-bottom: 12px;
    scale: 0.7;
  }
  .content p {
    font-size: 14px;
    line-height: 1.5;
    color: #d1d1d1;
    transform: translateY(50%);
  }
  .card:hover .content h2 {
    scale: 1;
    opacity: 1;
  }
  .card:hover .content P {
    opacity: 1;
    transform: translateY(0);
  }