body, html {
    font-family: 'Halis GR', sans-serif;
    background-color: #000;
    color: #fff;
}

p {
    font-size: 18px;
    color: white;
}

h1 {
    font-size: 32px;
    color: white;
}

.text-section {
    color: #e81d1d;
}

.section-divider {
  width:  80%;
  height: 2px;
  background-color: #e81d1d;
  align-items: center;
  margin: 1rem auto;
}







/* Topnav */
header {
    position: fixed;
    top:  0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background-color: #000;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
    font-size: 18px;
}

.nav-links a:hover, .nav-links a.active {
    color: #e81d1d;
}




.card.is-tapped img,
.schoolcard.is-tapped img {
  filter: grayscale(1) brightness(0.15);
}

.card.is-tapped::after,
.schoolcard.is-tapped::after {
  opacity: 1;
  inset: 20px;
}

.card.is-tapped .content h2,
.schoolcard.is-tapped .content h2 {
  scale:   1;
  opacity: 1;
}

.card.is-tapped .content p,
.schoolcard.is-tapped .content p {
  opacity: 1;
  transform: translateY(0);
}




/* Home */
.home-section {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: url('Pictures/tech.gif') no-repeat center center fixed;
    background-size: cover;
}

.name-highlight {
    color: #e81d1d;
}

ul {
  display: flex;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  padding: 0.25rem 0.5rem;
  position: relative;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transition: all 0.6s ease;
}

.link::before {
  top: 0;
  left: 0;
  transform-origin: left;
}
.link::after {
  bottom: 0;
  left: 0;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after {
  transform: scaleX(1);
}









/* About section */
.about-section {
    margin: 10%;
    width:  80%;
}


.AT {
    height: 150px;
    width:  150px;
}

.education-item {
    display: inline-block;
    width: 50vh;
}

.schoolcard {
  width: 310px;
  aspect-ratio: 1 / 0.7;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  border: 2px solid whitesmoke;
  display: inline-block;
}
.schoolcard .image-box {
  width:  100%;
  height: 100%;
  border-radius: inherit;
}
.schoolcard .image-box img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.schoolcard::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.schoolcard:hover img {
  filter: grayscale(1) brightness(0.15);
}
.schoolcard:hover::after {
  opacity: 1;
  inset: 20px;
}
.schoolcard:hover .content h2 {
  scale:   1;
  opacity: 1;
}
.schoolcard:hover .content P {
  opacity: 1;
  transform: translateY(0);
}

.detail-item {
    margin-top: 100px;
}

.about-me-details .detail-item {
    margin-bottom: 1.5rem;
}

.about-me-details .detail-item h3 {
    color: #e81d1d;
    margin-bottom: 3rem;
}


.languagecontainer {
  width: 100%;
  max-width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.25rem;
  transition: all 400ms;
}

.languagecard {
  flex: 1;
  height: 100%;
  transition: all 400ms;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.languagecard > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.languagecard:nth-child(odd) {
  translate: 0 -20px;
}
.languagecard:nth-child(even) {
  translate: 0 20px;
}

.languagecontainer:hover .languagecard:not(:hover) {
  filter: grayscale(100%);
}
.languagecard:hover {
  flex: 3;
}

.language-text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(10, 0, 66);
  text-align: center;
  width: 100%;
  font-family: "Protest Guerrilla", sans-serif;
  animation: glow 1s ease-in-out infinite alternate;
}

.language-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  font-family: "Protest Guerrilla", sans-serif;
  animation: glow 1s ease-in-out infinite alternate;
}

.language-text3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  font-family: "Protest Guerrilla", sans-serif;
  animation: glow 1s ease-in-out infinite alternate;
}

.language-text4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(73, 0, 0);
  text-align: center;
  width: 100%;
  font-family: "Protest Guerrilla", sans-serif;
  animation: glow 1s ease-in-out infinite alternate;
}

.language-name {
  color: #e81d1d;
  font-weight: bold;
}
  

@keyframes glow {
  from {
    text-shadow: 0 0 8px #fff;
  }
  
  to {
    text-shadow: 0 0 10px #424242;
  }
}







/* Skill section */
.skill-section {
    width:  80%;
    margin: 10%;
}

* {
    margin: 0;
    box-sizing: border-box;
  }
.card {
    width: 275px;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    border: 2px solid whitesmoke;
    display: inline-block;
  }
  .card .image-box {
    width:  100%;
    height: 100%;
    border-radius: inherit;
  }
  .card .image-box img {
    width:  100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
  }
  
  .card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
  }
  
  .card:hover img {
    filter: grayscale(1) brightness(0.15);
  }
  .card:hover::after {
    opacity: 1;
    inset: 20px;
  }

  .card:touch img {
    filter: grayscale(1) brightness(0.15);
  }
  .card:hover::after {
    opacity: 1;
    inset: 20px;
  }
  
  .content {
    width: 80%;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .content h2,
  .content p {
    opacity: 0;
    transition: 0.4s 0.2s ease;
  }
  .content h2 {
    margin-bottom: 12px;
    scale: 0.7;
  }
  .content p {
    font-size: 14px;
    line-height: 1.5;
    color: #d1d1d1;
    transform: translateY(50%);
  }
  .card:hover .content h2 {
    scale:   1;
    opacity: 1;
  }
  .card:hover .content P {
    opacity: 1;
    transform: translateY(0);
  }







  /* Project section */
  .project-section {
    margin: 10%;
    width:  80%;
  }
  
  .project-section h2, .project-section h3  {
    color: #e81d1d;
  }

  .project-section h3  {
    border-bottom: 2px solid white;
  }

  .project-images {
    overflow-y: auto;
    gap: 10px;
    padding: 20px;
    height: 600px;
    width: auto;
    margin-bottom: 150px;
}

.project-images img {
    width: 1000px;
    object-fit: cover;
}


.projecti-image {
  margin-bottom: 150px;
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}

.projecti-image img {
  max-height: 500px;
  object-fit: cover;
}
